@charset "ISO-8859-1";

#navigation {
	height: 100px;
	width: 100%;
	background-color: red;
}

#logo {
	margin: 20px;
	float: left;
	height: 60px;
	width: 60px;
	background-color: grey;
    background:url(picture/Logo.jpg);
    background-size:contain;
}

.mark {
	color: yellow;
}