@charset "ISO-8859-1";

#datenzeile { 
	margin-left:210px;
	margin-right:300px;
	margin-top: 18px;
    background:#99FF33; 
    width: 100%;
}	

#datenzeilebild { 
	margin-left:0px;
	margin-Top:0px;
	background:Green;
   
    
     
}

#datenzeiletext { 
	margin-left:210px;
	margin-right:100px;
	margin-Top:-200px;
	background:Red;
    font-size: 1.5em;
    width:70%;
    float:left;   
     
}	