.metadata/.plugins/org.eclipse.core.resources/.history/
.metadata/.plugins/org.eclipse.core.resources/9.snap
.metadata/.plugins/org.eclipse.core.resources/
.metadata/.plugins/org.eclipse.core.runtime/
.metadata/.plugins/org.eclipse.debug.ui/
.metadata/.plugins/org.eclipse.dltk.core/
.metadata/.plugins/org.eclipse.dltk.core.index.lucene/
.metadata/
