#rightpanel {
    background-color: orange;
	  width: 100%;
		margin-bottom: 35px;
	/*
	  height: 1000px;
    float: left;
	  width: 80%;
	  max-width: 10%;
	  max-width: 83%;
	 max-height: 100%;
	  margin: 0, auto;
	height: 100%;
	 overflow:auto;
    width: auto;
    margin: 0, auto;
    min-height: 100%;	
	  position: static;
	*/
}

.datenzeile {
	border: solid;
	border-top-color: white;
	border-left-color: white;
	border-bottom-color: silver;
	border-right-color: white;
	border-width: thin;
	background-color: white;
	margin-bottom: 10px;
 	font-size: 18px;
	font-family:verdana;
	height: 100px;
	margin-left: 200px;
	text-decoration: none;
	/*
	clear: both;
	width:500px;
  height: 300px;
	*/
}
.datenzeilebild {
	width:100px;
	height: 100px;
	float: left;
	text-decoration: none;
	/*
	background-color: white;
	clear: both;
	width:500px;
	float: left;
  height: 100px;
	*/
}

.datenzeilebild a {
	text-decoration: none;
} 

.datenzeilebild img {
	height: 100%;
	width: 100%;
	object-fit: contain;
} 

.datenzeiletext {
	background-color: blue;
	text-decoration: none;
/*
	border-color: black;
	border-width: thin;
	float: left;
	float: left;
	clear: both;
	width:500px;
  height: 100px;
	*/
}

.datenzeiletext p {
		font-size: 30px;
		text-decoration: none;
	/*
	*/
}